<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta name="description" content="技术博客, symfony4, 个人博客，基于symfony4">
<meta name="keywords" content="技术博客, symfony4, 个人博客，基于symfony4">
<title>{% block title %}我的symfony4博客 {% endblock %}</title>
{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset('home/css/css.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('home/css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('home/css/custom.css') }}">
<link rel="stylesheet" type="text/css" href="{{ asset('home/css/highlight.css') }}">
<link rel="Shortcut Icon" href="/favicon.ico">
<link rel="bookmark" href="/favicon.ico">
{% endblock %}
</head>
<body>
<div class="body_container">
	<div id="header">
		<div class="site-name">
			<h1 class="hidden">基于Symfony4</h1>
			<a id="logo" href="/">基于Symfony4</a>
			<p class="description">
				这是我的基于symfony4制作的博客！
			</p>
		</div>
		<div id="nav-menu">
			<a href="/." class="current"><i class="fa fa-home"> 首页</i></a>
			<a href="{{ path('archive') }}"><i class="fa fa-archive"> 归档</i></a>
			<a href="{{ path('about') }}"><i class="fa fa-user"> 关于</i></a>
		</div>
		<div id="search-form">
			<div id="result-mask" class="hide">
			</div>
			<label><input id="search-key" type="text" autocomplete="off" placeholder="请输入关键字..."></label>
			<div id="result-wrap" class="hide">
				<div id="search-result">
				</div>
			</div>
			<div class="hide">
				<template id="search-tpl">
				<div class="item">
					<a href="/{path}" title="{title}">
					<div class="title">
						{title}
					</div>
					<div class="time">
						{date}
					</div>
					<div class="tags">
						{tags}
					</div>
					</a>
				</div>
				</template>
			</div>
		</div>
	</div>
	<div id="layout" class="layout-g">
		<div class="layout-l">
			{% block main %}{% endblock %}
		</div>
		<div class="layout-r">
			<!--------右侧--------->
			{{ render(controller(
				'App\\Controller\\Blog::right'
			)) }}
		</div>
	</div>
	<a id="totop" href="#top"></a>
	<div id="footer">
		<div class="footer-info">
			<p>
				  <a href="{{ path('about') }}">联系博主</a>
			</p>
			<p>
									本站总访问量：0
				<i id="busuanzi_container_site_pv"><i id="busuanzi_value_site_pv"></i></i>次
			</p>
			<p>
				<span> Copyright &copy;<a href="/" rel="nofollow">Mash(Ma·sh).</a></span>
                <span> ICP备案:<a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/"> 京ICP备18022754号</a></span>
                <span> Powered by<a rel="nofollow" target="_blank" href="http://symfony.com/doc/current/index.html"> Symonfy4</a></span>
			</p>
		</div>
	</div>
</div>
{% block js %}
<script type="text/javascript" src="{{ asset('home/js/totop.js') }}" async></script>
{% endblock %}
</body>
</html>