<div id="sidebar">
    <div class="search-pla">
    </div>
    <div class="widget">
        <div class="widget-title">
            <i class="fa fa-xie"> 最新文章</i>
        </div>
        <ul class="post-list">
            {% for article in lastest %}
            <li class="post-list-item">
                <a class="post-list-link" href="{{ path('blog_show',{'id':article.id}) }}">
                    {{ article.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget">
        <div class="widget-title">
            <i class="fa fa-gui"> 分类</i>
        </div>
        <ul class="category-list">
            {% for category in categorys %}
            <li class="category-list-item">
                <a class="category-list-link" href="{{ path('blog_category',{'name':category.name}) }}">{{ category.name }}</a>
                <span class="category-list-count">{{ category.articles|length }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="widget">
        <div class="widget-title">
            <i class="fa fa-biao"> 标签</i>
        </div>
        <div class="tagcloud">
            {% for tag in tags %}
            <a href="{{ path('blog_tag',{'name':tag.name}) }}" style="font-size: 15px;">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="widget">
        <div class="widget-title">
            <i class="fa fa-archive"> 归档</i>
        </div>
        <ul class="archive-list">
            <li class="archive-list-item"><a class="archive-list-link" href="{{ path('archive') }}">七月 2018</a></li>
        </ul>
    </div>
    <div class="widget">
        <div class="widget-title">
            <i class="fa fa-you"> 友情链接</i>
        </div>
        <ul>
        </ul>
        <a href="http://www.imkxa.com" title="mash的flask博客" target="_blank">我的Flask博客</a>

    </div>
</div>